$surface-darkgrey: #383f47;
$surface-fg: #949494;
$surface-lightgrey: #3d464e;
$surface-lightergrey: #cad0d6;
$surface-grey: #2b3238;
$surface-red: #f87070;
$surface-green: #10ec10;
$surface-yellow: #cbec10;

$black: #000;
$error: #f71a1a;