@import "colors.scss";

* { all: unset; }

.wifimenu_layout {
    padding: 15em;
}

.wifimenu_layout_2 {
  padding: 5em;

}

.close-btn {
    font-size: 2em;
    margin-left:150px;
    &:hover {
      color: $surface-red;
    }
}